:root{
    /* CSS HEX */
--preto: #000000ff;
--azul: #3f88c5ff;
--laranja: #f49d37ff;
--roxo: #140f2dff;
--vermelho: #f22b29ff;

}

body{
    background-color: var(--azul);
    display: flex;
    align-items:center;
    justify-content:center;
    font: size 200px;
    margin: 0;
    padding: 0;
}

main{
    margin: 20px;
    text-align:center;
    max-width:90%;
}

button{
    background-color: var(--laranja);
    font-size: 22px;
    padding: 4px;
    border-radius: 10px;
    margin: 5px;
    color: black;
    box-shadow: 2px 2px 5px black;
}
button:hover{
    background-color: var(--amarelo);
    box-shadow: none;
    transition: 0.5s;
}

.passo {
    display: none;
}

.passso.ativo{
      display: block;
}